.main-background {
    background-image: url("./kristopher-roller-zepnJQycr4U-unsplash.jpg");
    height: 90vh;
    background-position: left;
    background-size: cover;
    display: flex;
    justify-content: center;
    filter: rgb(194, 152, 73);
    
    
}
@media only screen and (max-width:700px)
{
main
{
 background-position: left;
}
}
main h1{
    margin: 0px;
    color: rgb(160, 86, 86);
    font-size: 70px;
    color: black;
    text-align: center;
}
main .title-container {
    height: 50%;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;

}
@media only screen and (max-width: 750px)
{
    main h1{
        font-size: 40px;
    }
}
