
nav {
    height: 10vh;
    background: rgb(19, 18, 18);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav a {
    color: white;
    text-decoration: none;
    
    font-family: 'Times New Roman', Times, serif;
    margin: 0px, 5px;
}
.nav-links a:hover{
    border-bottom: 1px, solid rgb(153, 73, 73);
}
.nav-links
{
    margin-left: 20px;
    display: flex;
}
.social-links
{
    margin-right: 30px;
}
@media only screen and (max-width: 400px)
{
    .nav a {
        font-size: 10px;
    }
}
.hamburger{
    display: none;
}

@media only screen and (max-width: 500px)
{
    .blog-projects {
        display: none;
    }

    .links {
        display: none;

    }
    .hamburger {
        display: block;
    }
}
.hamburger-links{
    display: none;
}
.hamburger-links {
    display: none;
    background: transparent;
    position: fixed;
    top: 10vh;
    z-index: 2;
    background: white;
    width: 100vw;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.hamburger-links li {
    text-align: center;
    margin: 10px,0px;

}
.hamburger-links li a{
    text-decoration: none;
    color: black;
}
.hamburger-links li a:hover{
    border-bottom: 1px,solid black;
}