
/* .project-description3 {
    text-align: center;
    display: flex;
    color: black;
} */
/* .pro {
background-color: blue;
height: 100vh;
} */


 .project {
    height: 40vh;
    width: 40vh;
    
 }

 .project-description1 {
    font-style: normal;
    text-align: start;
    
   }
   body {
      background-image: url("../kristopher-roller-zepnJQycr4U-unsplash.jpg"); 
      height: 80vw;
      background-position: center;

    }
    .project-description1 {
       font-size: 20px;
       color: whitesmoke;
       
    }
    .project-description2 {
      font-size: 20px;
      color: whitesmoke;
      
   } 
   .project-description3 {
      font-size: 20px;
      color: whitesmoke;
      
   }
   .project-description4 {
      font-size: 20px;
      color: whitesmoke;
      
   }
