@font-face
{
    font-family: abel;
    src: url(/Users/ajay/Desktop/Ajay-portfolio/components/Abel 3/Abel-Regular.ttf)

}
@font-face
{
    font-family: abel;
    src: url(/Users/ajay/Desktop/Ajay-portfolio/components/Abel 3/Abel-Regular.ttf);

}
@font-face
{
    font-family: abel;
    src: url(/Users/ajay/Desktop/Ajay-portfolio/components/Abel 3/Abel-Regular.ttf);

}
@font-face
{
    font-family: abel;
    src: url(/Users/ajay/Desktop/Ajay-portfolio/components/Abel 3/Abel-Regular.ttf);

}