.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    max-width: 900px;
    margin: 0 auto;
    /* background-color: black; */
}
.discription p{
    width: 25%;
    
}
@media only screen and (max-width:700px)
{
    .about-me-container{
        flex-direction: column;
        justify-content: flex-start;
    }

}
.discription{
    width: 100%;
}
.container button{
    display: flex;
    align-items: center;
     color: black;
     justify-content: center;
     background: rgb(58, 50, 34);
     
}