<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile </title>
  <link rel="stylesheet" href="../../Styles.css">

</head>
<body>
    <nav>
        <section class="nav-links">
            <div class="home">
                <a href="/">Home</a>
                <a href="About-me.html"> About me </a>
            </div>
            <div class="blog-projects">
                <a href="projects.html"> projects</a>
                <a href="./"> Blog</a>
            </div>
        </section>
        <section class="social-links">
            <a href="https://www.linkedin.com/in/sainath-biradar-7139241a9/">linkedin</a>
            <a href="https://github.com/sainath123-del">Github</a>
        </section>
        <button class="hamburger hamburger--squeezes button-outline" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>
    <ul class="hamburger-links">
        <li><a href="./projects.html">Projects</a></li>
        <li><a href="/blog.html">blog</a></li>
        <li><a href="https://www.linkedin.com/in/sainath-biradar-7139241a9/">linkedin</a></li>
        <li><a href="https://github.com/sainath123-del">Github</a></li>

    </ul> 
    <div class="project">
        <img src="../../115.jpg" alt="blog "> </div>
        <div class="project-description1">
            <h2>My first blog</h2>
        <p> This is a second blog </p>
        </div>
    </div>
        
        <div class="project">
          <img src="../../113.jpg" alt="blog "> </div>
          <div class="project-description2">
              <h2>My second blog </h2>
          <p> This is a first blog </p>
          </div>
        
          <div class="project">
              <img src="../../114.jpg" alt="blog "> </div>
              <div class="project-description3">
              <h2> My third blog </h2>
              <p>This is a third blog</p>

          
          </div>
          <div class="project">
              <img src="../../111.jpg" alt="blog"> </div>
              <div class="project-description4">
                  <h2> My fourth blog</h2>
                  <p>This is my fourth blog</p>
              </div>
          
          
          


   
          
   </body>
    <script>
        const hamburger = document.querySelector('.hamburger')
        const links = document.querySelector('.hamburger-links')
        hamburger.addEventListener('click', function () {
            hamburger.classList.toggle('is-active')
            const isActive = hamburger.classList.contains('is-active')
            if (isActive) {
                links.style.display = 'block'
            } else {
                links.style.display = 'none'
            }
        })
    </script>
</html>